.hide {
    display: none;
    margin: -340px;
 }
 .example {
     display: block;
 }
 #button {
    cursor: pointer; 
    background-color: #9e1313;
    color: white;

    width: 400px;
    height: 35px;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;

    border-radius: 5px;
 }
 i {
    color: white;
 }
 #button:hover{
   background-color: #ff3535;
 }
#rotate {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
 #alfred-books {
    margin-left: auto;

 }
 #alfred-books div {
    display: inline-block;  
    height: 140px;
    width: 150px;
    margin-left: 20px
 }
 #alfred-books div p {
    display: inline;
 }
 .img-link {
    display: inline;
    max-width: 150px;
    max-height: 120px;
    border: white 2px solid;
 }
 .img-link:hover {
    border: 2px black solid;
 }