

#nav-bar {
   position: sticky;
   z-index: 1;
   width: 100%;
   background-color: #9e1313;
   height: 70px;
   text-align: center;
}

#nav-bar a {
   color: white;
   text-decoration: none;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: auto;
   margin-bottom: auto;
   z-index: 5;

   height: 40px;p
   width: 100px;
}

#nav-bar a:active { 
   color: rgb(48, 161, 236);
}

#nav-bar a:hover {
   text-decoration: underline;
}

#title {
   font-family: Sarabun;
   text-decoration: underline;
}

#heading {
   display: block;
   margin-left: auto;
   margin-right: auto;

}

body {
   display: block;
   max-width: 955px;
   min-width: 300px;
   margin-left: auto;
   margin-right: auto;
   padding: none;

   font-family:  Lato;
}

.main-content {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: none;
   text-align: center;
}
 
.img-link {
   max-width: 100px;
   max-height: 80px;
   margin-left: 20px;
   margin-right: 20px;
   border: white 2px solid;
}

.img-link:hover {
   border: 2px black solid;
}

#note-card {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#material-list {
   display: block;
   max-width: 955px;
   min-width: 300px;
   margin-left: auto;
   margin-right: auto;
   z-index: 5;
}

#material-list li {
   z-index: 5;
   list-style-type: none;
}

#piano-img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   max-width: 600px;
   min-width: 200px;
   align-items: center;
   padding: none;
}

#alfred-books {
   z-index: 1;
   margin-left: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

#contact-info {
   display: block;
   max-width: 955px;
   min-width: 300px;
   margin-left: 10%;
   margin-right: 10%;

   font-size: 20px;  
   text-align: center;
}

#contact-info a {
   text-decoration: none;
   color: #9e1313;
}

#contact-info a:hover {
   text-decoration: underline;
}

#contact-info a:active {
   color: rgba(39, 116, 216, 0.897)
}

span {
   font-weight: 700;
}
